[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/nanosvg"]
	path = third_party/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng.git
